#root {
  max-width: 1280px;

  padding: 2rem;
}

.btn {
  padding: 10px;
  padding-inline: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.dropDown {
  width: 50%;
  border: 1px solid black;
  margin-top: 10px;
  list-style: none;
  background-color: white;
  border-radius: 4px;
}

.refine {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  border-bottom: 1px solid rgb(137, 134, 134);
  padding: 8px;
}

.ref {
  font-weight: 600;
  cursor: pointer;
}

.clearBtn {
  color: blue;
  cursor: pointer;
}

.list {
  border: 1px solid rgb(216, 216, 216);
  margin-block: 10px;
  padding: 3px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}

.list:hover {
  background-color: rgb(210, 209, 209);
}
